.DS_Store

*~

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

*.code-workspace

*.pyc
*.pyo
*.egg-info/
.cache/
.coverage
.tox
.cache
